/* body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
} */


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box-1{
    flex: 1;
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.box-2{
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box-3{
    flex: 1;
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.btn , .clipboard{
    padding: 0.5rem 0.7rem;
    border: 3px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    margin: 10px;
}

.btn:hover, .clipboard:hover {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}