body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.btn , .clipboard{
    padding: 0.5rem 0.7rem;
    border: 3px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    margin: 10px;
}

.btn:hover, .clipboard:hover {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}